<?xml version="1.0" encoding="UTF-8"?>
<config>
   <modules>
      <Centerax_Akismet>
         <version>1.0.2</version>
      </Centerax_Akismet>
   </modules>
   <global>
    <blocks>
        <akismet>
            <class>Centerax_Akismet_Block</class>
        </akismet>
    </blocks>
    <helpers>
        <akismet>
            <class>Centerax_Akismet_Helper</class>
        </akismet>
    </helpers>
    <rewrite>
        <contacts_index_post>
           <from><![CDATA[#contacts/index/post(.*)#]]></from>
           <to>cxakismet/contacts_index/post$1</to>
        </contacts_index_post>
        <review_product_post>
           <from><![CDATA[#review/product/post(.*)#]]></from>
           <to>cxakismet/review_product/post$1</to>
        </review_product_post>
    </rewrite>
    <models>
        <akismet>
            <class>Centerax_Akismet_Model</class>
            <resourceModel>akismet_mysql4</resourceModel>
        </akismet>
             <akismet_mysql4>
                <class>Centerax_Akismet_Model_Mysql4</class>
                <entities>
                    <akismet_akismet>
                        <table>centerax_akismet</table>
                    </akismet_akismet>
                </entities>
             </akismet_mysql4>
    </models>
        <resources>
            <akismet_setup>
                <setup>
                    <module>Centerax_Akismet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </akismet_setup>
            <akismet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </akismet_write>
            <akismet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </akismet_read>
        </resources>
   </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Centerax_Akismet before="Mage_Adminhtml">Centerax_Akismet_Adminhtml</Centerax_Akismet>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
      <routers>
          <akismet>
              <use>standard</use>
              <args>
                  <module>Centerax_Akismet</module>
                  <frontName>cxakismet</frontName>
              </args>
          </akismet>
      </routers>
    </frontend>
</config>
